

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    .showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}



