@import '../main.scss';

.AppMain {
    &-FormContact {
        width: 40%;
        
        input {
            width: 90%;
        }
        
        textarea {
            width: 90%;
            margin: .5rem auto;
            padding: 1rem;
        }
        
        .send {
            width: 100%;
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    // .App-logo {
    //     animation: App-logo-spin infinite 20s linear;
    // }
}

@media all and (max-width: 1920px) {
    .AppMain {
        &-FormContact {
            width: 32%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            
            input {
                margin: .2rem;
            }
            
            textarea {
                margin: .5rem auto
            }
        }
    }
}