@import '../main.scss';

.AppMain {
    .FormEdit {
        width: 750px;
        margin: 0 auto;
        
    }

    a {
        font-style: italic;
        font-size: calc(2px + 2vmin);
        color: $color-dark;
        font-weight: 400;
        letter-spacing: 0.03em;
        padding: 2rem;
        text-decoration: none;
    }
}
