@import '../main.scss';

.App-main {
    background: $color-light;
    .gallery {
        width: 80%;        
        margin: 0 auto;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

