@import '../main.scss';

.AppMain {
    min-height: 80vh;
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    a {
        display: flex;
        
        span {
            padding-left: 15px;
        }
    }
} 

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media all and (max-width: 1920px) {
    .AppMain {        
        .App-logo {
            height: 30vmin;
            pointer-events: none;
            margin: 1.5rem 0;
        }
    }
}

@media all and (max-width: 900px) {
    .AppMain {
        height: 68vh;
        margin-top: 2rem;
        margin-bottom: 0;
        .App-logo {
            height: 35vmin;
            pointer-events: none;
            margin: 1.5rem 0;
        }
    }
}

@media all and (max-width: 600px) {
    .AppMain {
        
        .App-logo {
            height: 35vmin;
            pointer-events: none;
            margin: 1.5rem 0;
        }
    }
}