.App-main {
    margin: 3rem 0;
} 

.App-main h2, .App-main p {
    font-size: calc(10px + 2vmin);
    color: #282c34;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: .03em;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    margin: 3rem 0;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #282c34;
    margin: .8em;
}

@keyframes App-logo-spin {
    from {
        transform: skew(0deg);
    }
    to {
        transform: skew(30deg, 20deg);
    }
}