@import '../main.scss';

.AppMain {
    &-Forms {
        width: 750px;
        .FormRegister {
            display: none;
        }
        
        .FormLogin {
            width: 70%;
            
            fieldset {
                
                input {
                    @include form-input;
                }
                
                button {
                    @include form-button;
                }
            }
        }
    }
}