@import '../main.scss';
@import '../../index.scss';

.AppMain {
    background: $color-light;
    margin: 0 auto;
    
    &-Panneaux {
        padding: 0rem 0 0rem 0;
        max-width: 70vw;  
        height: 79vh;  
        padding: 0 10vw;
        
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        
        
        .PanneauxImageContainer {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0 0 4px 4px;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            overflow: hidden;
            
            .imageWrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: stretch;
                justify-content: stretch;
                overflow: visible;
                
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: contain;
                    object-position: center;
                    transition: .5s ease-in-out;
                    border-radius: 0 0 3px 3px;
                }
            }
            
            
        }
        
        .PanneauxDescriptionContainer {
            max-width: 30%;
            border-radius: 0 0 4px 4px;
            -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            padding-top: 3rem;
            h3 {
                padding: 1rem;
            }
            
            p {
                padding: 2rem 1.2rem .8rem ;
                font-style: italic;
            }
            span {
                font-style: italic;
            }
        }
    }
}


@media all and (max-width: 1025px) {
    .AppMain {
        align-items: stretch;
        justify-content: stretch;
        &-Panneaux {
            width: 100%;
            min-width: 100%; 
            height: 68vh;
            min-height: 63vh;
            // overflow: hidden;    
            padding: 0 0;
            position: relative;
            
            
            .PanneauxImageContainer {
                height: 60vh;
                width: 100%;
                overflow: hidden;
                
                display: flex;
                align-items: center;
                justify-content: stretch;
                overflow: hidden;
                
                .imageWrapper {
                    min-width: 100%;
                    min-height: 100%;
                    display: flex;
                    align-items: stretch;
                    justify-content: stretch;
                    overflow: visible;
                    
                }
                
                
            }
            
            .PanneauxDescriptionContainer {
                width: 100%;
                min-width: 100%;
                height: 18vh;
                padding-top: .5rem;
                padding-bottom: .5rem;
                position: absolute;
                // transform: translate(-50%, -50%);
                background-color: $color-dark;
                opacity: .7;
                
                h3 {
                    padding: .5rem;
                    display: inline-block;
                    color: white;
                }
                
                p {
                    padding: 0 1.2rem 0 ;
                    color: white;
                }
            }
            
            .positionTop {
                top: 0%;
                left: 0%;
                
                span {
                    display: none;
                }
            }
            
            .positionBottom {
                top: 90%;
                left: 0%;
                
                p {
                    padding-top: .5rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}

@media all and (max-width: 900px) {
    .AppMain {
        align-items: stretch;
        justify-content: stretch;
        &-Panneaux {
            width: 100%;
            min-width: 100%; 
            height: 68vh;
            min-height: 63vh;
            // overflow: hidden;    
            padding: 0 0;
            position: relative;
            
            
        }
    }
}

@media all and (max-width: 600px) {
    .AppMain {
        &-Panneaux {
            padding: 0 0;
            position: relative;
            
            .positionBottom {
                top: 97%;
                left: 0%;
                
                p {
                    padding-top: .5rem;
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}