@import '../../main.scss';

.AppMain {
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
} 

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@media all and (max-width: 1920px) {
    .AppMain {        
        .App-logo {
            height: 30vmin;
            margin: 1.5rem 0;
        }
    }
}

@media all and (max-width: 1024px) {
    .AppMain {
        
        .App-logo {
            height: 35vmin;
        }
    }
}

@media all and (max-width: 600px) {
    .AppMain {
        
        .App-logo {
            margin: 0;
        }
    }
}