@import '../main.scss';

.AppFooter {
    max-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    
    p {
        font-style: italic;
        font-size: calc(1.5px + 2vmin);
        color: $color-dark;
        font-weight: 400;
        letter-spacing: .03em;    
    }
    
    a {
        font-style: italic;
        font-size: calc(2px + 2vmin);
        color: $color-dark;
        font-weight: 400;
        letter-spacing: .03em;
        padding: 2rem;
        text-decoration: none;    
    }
    
    i {
        font-size: calc(10px + 2vmin);
        color: $color-dark;
    }
}

@media all and (max-width: 1920px) {
    .AppFooter {
        max-height: 4vh;
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media all and (max-width: 1200px) {
    .AppFooter {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media all and (max-width: 900px) {
    .AppFooter {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
    }
    
}

@media all and (max-width: 600px) {
    .AppFooter {
        flex-direction: column;
        justify-content: center;
    }
    
}