@import '../main.scss';

.App-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
        font-style: italic;
        font-size: calc(2px + 2vmin);
        color: $color-dark;
        font-weight: 400;
        letter-spacing: .03em;    
    }
    
    a {
        font-style: italic;
        font-size: calc(2px + 2vmin);
        color: $color-dark;
        font-weight: 400;
        letter-spacing: .03em;
        padding: 2rem;
        text-decoration: none;    
    }
}



@media all and (max-width: 1200px) {
    .App-footer {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media all and (max-width: 900px) {
    .App-footer {
        flex-direction: column;
        justify-content: center;
    }
    
}

@media all and (max-width: 600px) {
    .App-footer {
        flex-direction: column;
        justify-content: center;
    }
    
}