@import '../main.scss';

.AppHeader {
    background-color: white;
    min-height: 10vh;
    padding-bottom: .4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(8px + 2vmin);
    color: $color-dark;
    
    h1 {
        color: $color-dark;
        line-height: 1.5em;
        font-weight: 500;
        letter-spacing: .03em;
        padding-left: 2rem;
    }
    
    i {
        font-size: calc(10px + 2vmin);
        color: $color-dark;
    }
}

@media all and (max-width: 1920px) {
    .AppHeader {
        max-height: 8vh;
        font-size: calc(6px + 2vmin);
        flex-direction: row;
        justify-content: space-between;
    }
    
    h1 {
        font-weight: 400;
    }
}

@media all and (max-width: 1200px) {
    .AppHeader {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media all and (max-width: 900px) {
    .AppHeader {
        max-height: 15vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
            padding-top: .8rem;
            padding-bottom: .6rem;
            padding-left: 0; 
            margin-bottom: 0;           
        }       
    }
}

@media all and (max-width: 600px) {
    .AppHeader {
        max-height: 50vh;
        
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }
    
}