@import '../main.scss';

.AppHeader {
    background-color: white;
    color: $color-dark;
        
    h1 {
        color: $color-dark;
        line-height: 1.5em;
        font-weight: 500;
        letter-spacing: .03em;
        padding-left: 2rem;
    }
    
    i {
        font-size: calc(10px + 2vmin);
        color: $color-dark;
    }
}

@media all and (max-width: 1920px) {
    .AppHeader {
        h1 {
            font-weight: 400;
        }
    }
}

@media all and (max-width: 1024px) {
    .AppHeader {
        // min-height: 12vh;
    }
}

@media all and (max-width: 900px) {
    .AppHeader {
        h1 {
            padding-top: .8rem;
            padding-bottom: .6rem;
            padding-left: 0; 
            margin-bottom: 0;           
        }       
    }
}

@media all and (max-width: 600px) {
    .AppHeader {
        // height: 25vh;
    }
}