.App-header {
    background-color: #fff;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.App-header h1 {
    color: #282c34;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: .03em;
}

.App-header--nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-header--ul {
    display: flex;
    list-style: none;
}

.App-header--ul li a {
    padding: 2rem;
    text-decoration: none;
    color: #282c34;
}

@media all and (max-width: 599px) {
    .App-header--ul {
        flex-direction: column;
    }
}