.App-header {
    background-color: #fff;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.App-header h1 {
    color: #282c34;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: .03em;
}

@media all and (max-width: 1200px) {
    .App-header {
        flex-direction: row;
        justify-content: space-between;
    }
    
}

@media all and (max-width: 900px) {
    .App-header {
        flex-direction: column;
        justify-content: center;
    }
    
}

@media all and (max-width: 600px) {
    .App-header {
        flex-direction: column;
        justify-content: center;
    }
    
}