@import '../main.scss';

.App-header--nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    ul {
        display: flex;
        list-style: none;
        padding-inline-start: 0;
    
        li a {
            padding: 2rem;
            text-decoration: none;
            color: $color-dark;
        }
    }
    
}


@media all and (min-width: 1200px) {
    .App-header--ul {
        align-items: center;
    }
    
}

@media all and (max-width: 599px) {
    .App-header--ul {
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    
    .App-header--ul li {
        margin: .5rem 0;
    }
}