/* Variables */
$color-dark: rgba(40, 44, 52, .6);
$color-light: rgba(226, 223, 218, .2);

$color-red: #5A2324;
$color-orange: rgba(141, 76, 50, 1);
$color-yellow: rgba(230, 204, 165, 0.1);
$color-green:rgba(103, 107, 83, .05);
$color-brown:rgba(49, 37, 37, 1);

/* Mixins */

@mixin form-button {
    width: 100%;
            border: 1px solid $color-dark;
            border-radius: 3px;
            background: $color-dark;
            opacity: .7;
            color: white;
            font-size: large;
            padding: .8rem 0;
}

@mixin form-input {
    width: 90%;
    background: none;
    border: none;
    border-bottom: 1px solid $color-dark;
    
    &::-webkit-input-placeholder,  {
        font-size: large;
        
        :focus {
            transform: scale(.5);
        }
    }
    
    &::placeholder {
        font-size: large;
        
        :focus {
            transform: scale(.5);
        }
    }
}

@mixin form-textarea {
    width: 90%;
    margin: .5rem auto;
    padding: 1rem;
}