/* ************************** */
/* Abstracts */

/* ************************** */
/* Variables */
$color-dark: rgba(40, 44, 52, .6);
$color-light: rgba(226, 223, 218, .2);

$color-red: #5A2324;
$color-orange: rgba(141, 76, 50, 1);
$color-yellow: rgba(230, 204, 165, 0.1);
$color-green:rgba(103, 107, 83, .05);
$color-brown:rgba(49, 37, 37, 1);

/* ************************** */
/* Utilities */

/* ************************** */
/* Mixins */

/* ************************** */
/* Functions */
