@import '../main.scss';

.AppHeader-Nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    &-Ul {
        display: flex;
        align-items: center;
        list-style: none;        
        padding-inline-start: 0;
        margin-bottom: 0;
    
        li a {
            padding: 2rem;
            text-decoration: none;
            color: $color-dark;
        }
    }
    
}

@media all and (min-width: 1200px) {
    .AppHeader-Nav-Ul {
        align-items: center;
    }
    
}

/* @media all and (min-width: 900px) {
    .AppHeader-Nav-Ul {
        margin-bottom: 2rem;
    }    
} */

@media all and (max-width: 599px) {
    .AppHeader-Nav-Ul {
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    
    .AppHeader-Nav-Ul li {
        margin: .5rem 0;
    }
}