@import '../main.scss';

.PanneauxImageContainer {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
    .imageWrapper {
        background: transparent;
        
        img {
            width: 100%;
        }
    }
}
