@import '../../main.scss';

.AppMain {
    &-Forms {
        width: 750px;
        background: white;
        
        .FormSignup {
            width: 70%;
            
            input {
                
                :focus {
                    border: none;
                }
                
            }
        }
    }
}

@media all and (max-width: 600px) {
    .AppMain {
        &-Forms {
            width: 90vw;
            background: white;
            
            .FormSignup {
                width: 100%;
                margin: 0;
                padding: 0;
                
                input {
                    
                    :focus {
                        border: none;
                    }
                    
                }
            }
        }
    }
}