.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 3rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
  margin: .8em;
}

@keyframes App-logo-spin {
  from {
    transform: skew(0deg);
  }
  to {
    transform: skew(30deg, 20deg);
  }
}

.App-header h1, .App-header h3, .App-header p {
  color: #282c34;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: .03em;
}


