@media all and (max-width: 600px) {
    .FormContact {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        
        
        
        input {
            margin: .2rem;
        }
        
        textarea {
            margin: .5rem auto
        }
    }

}